*.dylib
*.so
*.so.*
*.dll
*~
*.o
.*.swp
.DS_Store
.AppleDouble
.LSOverride
reference.html
widgets.html
stubs.cpp
stubs.h
.qmake.stash
moc_*.cpp
Makefile
Makefile.Debug
Makefile.Release
lua_calltips.cpp
